@charset "UTF-8";
pre {
  background: #181914;
  color: #dccf8f; }
  pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em; }

code, kbd, pre, samp {
  font-family: Menlo, Monaco, monospace, sans-serif; }

code {
  background: #eee;
  padding: 2px; }

a:hover {
  color: #E54028 !important;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  transition: 1s; }

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "“" "”" "‘" "’"; }

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em; }

blockquote p {
  display: inline; }

aside {
  padding: 1rem;
  background-color: #eee;
  border-top: 1px solid #555555;
  border-bottom: 1px solid #555555;
  margin: 1rem 0 2rem 0;
  text-indent: 4rem; }

ul li {
  font-family: "Raleway", "Helvetica", "Arial", sans-serif; }

.decorative-marker, .nav-item-separator {
  letter-spacing: normal;
  margin-right: 0; }

.sidebar {
  background: #eee; }
  .sidebar .header {
    margin: 2rem 4rem; }
  .sidebar h1.brand-title {
    color: #555555;
    padding: 0; }
  .sidebar .nav-item a {
    color: #888888; }

.content {
  background: #fff;
  padding: 0px; }
  .content .brand-tagline {
    margin: 48px; }

.posts {
  margin: 48px; }
  .posts .post {
    margin: 0 48px; }
    .posts .post .post-title {
      text-align: left;
      margin: 0; }
    .posts .post .post-date {
      float: right;
      margin-top: -30px; }
  .posts .nav-item a {
    font-size: 1rem;
    color: #888888;
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    font-weight: 400; }
  .posts .nav-item a:hover {
    color: #E54028; }
  .posts .nav-item-separator {
    letter-spacing: normal;
    margin-right: 0; }

.post {
  padding: 2rem 4rem; }
  .post .post-date {
    float: right;
    margin-top: -82px;
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    font-weight: 200; }
    .post .post-date .post-date-year, .post .post-date .post-date-month {
      text-transform: uppercase;
      color: #888888; }
  .post h1.post-title {
    text-transform: uppercase;
    text-align: left;
    margin: 0rem 0px 48px;
    font-size: 1.4rem;
    font-family: "Raleway", "Helvetica", "Arial", sans-serif;
    font-weight: 200; }
    .post h1.post-title a {
      color: #555555; }
  .post h2, .post h3, .post h4 {
    font-family: "Libre Baskerville", serif; }
  .post .read-more-link {
    float: none; }

#toc {
  padding: 2rem 3rem;
  font-family: "Libre Baskerville", serif; }
  #toc .toc-label {
    margin-top: 0.25rem;
    font-weight: bold;
    font-size: 14px;
    color: #555555; }

#TableOfContents ul {
  list-style: number;
  padding-left: 0;
  margin-bottom: 0; }
#TableOfContents ul li a {
  font-family: "Libre Baskerville", serif;
  font-size: 12px;
  text-decoration: none; }

.paging.pure-g a, .paging.pure-g span {
  font-family: "Raleway", "Helvetica", "Arial", sans-serif;
  font-weight: 200; }
.paging a {
  text-transform: uppercase;
  text-decoration: none; }
.paging .paging-label {
  text-transform: uppercase;
  font-style: normal;
  text-align: center; }
.paging .paging-newer {
  clear: none; }
  .paging .paging-newer span {
    text-transform: lowercase; }
.paging .paging-older {
  clear: none;
  text-align: right; }
  .paging .paging-older span {
    text-transform: lowercase; }
.paging hr.thin {
  width: 80%;
  margin: 25px 10%; }

/*# sourceMappingURL=site.css.map */
